::selection {
  color: red;
  background: gold;
}
body {
	display: table;
	min-height: 100vh;
	margin: 0;
	text-align: right;
	font-family: Vernanda;
	font-size: 2vh;
}

header {
	display: table-header-group;
}
.theadfoot {
	height: 20vh;
	background: linear-gradient(to right, #6DABE8, #ACE7FF, #6DABE8);
	background-repeat: no-repeat;
}
.headfoot, .first {
	display: table-cell;
	height: 20vh;
	vertical-align: middle;
	overflow-wrap: break-word;
}
.headfoot {
	width: 55vw;
}
.hf {
	min-width: 20%;
	max-width: 36.5%;
	margin-left: 3vw;
	padding-top: 0.1vh;
	padding-bottom: 0.1vh;
	padding-right: 1vw;
	padding-left: 1vw;
	background-color: #ACE7FF;
}
.first {
	width: 45vw;
}
p {
	margin-left: 1vw;
	margin-right: 1vw;
}
p:first-letter {
	color: red;
	font-size: 3.5vh;
	font-family: "Arial";
}

main {
	display: table-row-group;
	width: 100vw;
	background-color: #A3E6BE;
}
.left, .right {
	display: table-cell;
}
.top {
	display: table-row;
}
.second, .third {
	display: table-cell;
	height: 45vh;
	width: 70vw;
	vertical-align: middle;
	overflow-wrap: break-word;
}
.second {
	width: 30%;
	background-color: navajowhite;
	overflow-wrap: break-word;
}
.third {
	background-color: lightgray;
}
.right {
	height: 60vh;
	width: 30vw;
	vertical-align: middle;
	color: white;
	background-color: #568CC7;
	overflow-wrap: break-word;
}
.bottom {
	display: table;
	height: 15%;
	width: 70vw;
	vertical-align: middle;
	text-align: left;
	background-color: #A3E6BE;
	overflow-wrap: break-word;
}
footer {
	display: table-footer-group;
}
.foot {
	text-align: left;
}

.link {
	margin-right: 2vw;
	padding: 1vh;
	line-height: 3;
	border-radius: 10vh;
	transition-duration: 0.5s;
}
.link:hover {
	color: white;
	background: violet;
}
.link:focus {
	color: white;
	background: darkviolet;
}
ol.fruits-list {
	color: indigo;
	font-weight: normal;
}
ol.vegetables-list {
	color: red;
	font-weight: normal;
}
.tmpS {
	float: right;
	text-align: left;
}
[href*="https:"] { color: darkgreen; }
[target] {color: darkgreen;}
[href$="google.com"] { color: #667; }
[target]::after {
    content: '\21F1';
    display: inline-block;
    transform: rotate(90deg);
    color: red;
}
.icon {
	height: 60%;
	width:  15vw;
	float: right;
}
/*
<body>
	<table style="border: solid black 2px">
		<thead>
			<th colspan="3">1</th>
		</thead>
		<tbody>
			<tr>
				<td>2</td>
				<td>3</td>
				<td rowspan="2">4</td>
			</tr>
			<tr>
				<td colspan="2">5</td>
			</tr>
		</tbody>
		<tfoot>
			<th colspan="3">6</th>
		</tfoot>
	</table>
</body>
*/